<router-outlet></router-outlet>

<!-- <button (click)="add()">Add Point!</button>
<button (click)="getPieChart()">Pie Chart!</button>
<button (click)="getBarchart()">BarChart</button>

    <div [chart]="chart"></div> -->
    <!-- <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="heading">
      <div class="name-heading"> Name: Chua Kelvin</div>
      <div class="link-heading">http://www.linkedin.com/chua/kelvin</div>
      <div class="datamatch-heading">Data Matched:90%</div>
      <div class="select-btn"><button>Select</button></div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
